html {
    box-sizing: border-box;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}
.title {
    background: grey;
    text-align: center;
}

.keypads {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.key {
    border: solid black;
    height: 25vh;
    margin: 0.3rem auto;
    padding: 0.5rem;
    transition: all 0.07s;
    width: 32%;
}

.playing {
    border: solid gold;
    transform: scale(1.1);
}


