html {
    background: beige;
    box-sizing: border-box;
    font-family: "Lobster", cursive;
    padding-top: 3rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}
.title {
    margin-bottom: 4rem;
    text-align: center;
}

.keypads {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.key {
    background-color: bisque;
    border-radius: 0.1rem;
    box-shadow: 0.0625rem 0.125rem 0.125rem lightgray;
    height: 20vh;
    margin: 0.3rem auto;
    text-align: center;
    transition: all 0.07s;
    width: calc(33% - 1rem);
}
.sound {
    font-size: 1.2rem;
}

.letter {
    display: block;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    padding-top: 2rem;
}

.playing {
    border: solid gold;
    transform: scale(1.1);
}

@supports (display: grid) {
    .keypads {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .key {
        width: calc(32vw - 1rem);
    }
}

@media screen and (min-width:46rem) {
    .sound {
        font-size: 1.5rem;
    }
    .letter {
        margin-bottom: 1.5rem;
    }
}
